# Ignore the virtual environment folder
my_env/
venv/
test/

# Ignore compiled Python files
*.pyc
__pycache__/

# Ignore IDE settings
.vscode/

# Ignore other files or folders that are not part of the project
*.log
tmp/

.env

msedgedriver
